.idea
idea

db.sqlite3

venv

nginx

csvtodb

docker-compose.prod.yml
Dockerfile.prod
entrypoint.prod.sh
local_settings.py
.env.prod
.env.prod.db

**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

